requests==2.32.5
filelock==3.19.1
patchelf==0.17.2.4
sympy==1.14.0
cloudpickle==3.1.2
opt_einsum==3.4.0
absl-py==2.3.1
typing_extensions==4.5.0
pyasn1==0.6.3
wheel==0.45.1
jaxlib==0.4.7+cuda11.cudnn86
Jinja2==3.1.6
mpmath==1.3.0
packaging==25.0
packaging==26.2
matplotlib==3.9.4
chex==0.1.7
ml_dtypes==0.5.4
python-dateutil==2.9.0.post0
cffi==2.0.0
idna==3.18
protobuf==6.33.6
importlib_metadata==8.7.1
pyparsing==3.3.2
cmake==3.25.0
glfw==2.10.0
torchvision==0.15.2+cu118
kiwisolver==1.4.7
contextlib2==21.6.0
pycparser==2.23
offlinerlkit==0.0.1
gitdb==4.0.12
etils==1.5.2
grpcio==1.74.0
dm-tree==0.1.8
platformdirs==4.4.0
cryptography==45.0.7
sentry-sdk==2.64.0
tzdata==2026.2
scipy==1.10.1
Werkzeug==3.1.8
threadpoolctl==3.6.0
tensorflow-probability==0.21.0
click==8.1.8
ml_collections==0.1.1
Cython==0.29.37
tensorboard-data-server==0.7.2
tqdm==4.68.3
fasteners==0.20
lit==15.0.7
numpy==1.23.0
numpy==1.26.4
setuptools==80.9.0
requests-oauthlib==2.0.0
neorl==0.3.1
cached-property==2.0.1
cycler==0.12.1
tensorboard==2.13.0
faiss==1.9.0
toolz==1.1.0
psutil==7.2.2
optax==0.1.9
decorator==5.3.1
PyYAML==6.0.3
markdown-it-py==3.0.0
pytz==2026.2
GitPython==3.1.50
pydantic==1.10.26
tensorboardX==2.6.5
joblib==1.5.3
gast==0.7.0
mdurl==0.1.2
ImageIO==2.37.2
jax==0.4.8
google-auth-oauthlib==1.0.0
certifi==2026.6.17
fonttools==4.60.2
pillow==11.3.0
orbax-checkpoint==0.2.1
contourpy==1.3.0
oauthlib==3.3.1
torch==2.0.1+cu118
Markdown==3.9
gym-notices==0.1.0
pyasn1_modules==0.4.2
msgpack==1.1.2
wandb==0.19.11
seaborn==0.13.2
nest-asyncio==1.6.0
pip==26.0.1
setproctitle==1.3.7
zipp==3.23.1
docker-pycreds==0.4.0
rich==15.0.0
eval_type_backport==0.4.0
triton==2.0.0
charset-normalizer==3.4.7
urllib3==2.6.3
smmap==5.0.3
networkx==3.2.1
importlib_resources==6.5.2
scikit-learn==1.6.1
google-auth==2.50.0
pandas==2.3.3
six==1.17.0
tensorstore==0.1.69
MarkupSafe==3.0.3
mujoco-py==2.1.2.14
flax==0.7.2
Pygments==2.20.0
opencv-python==5.0.0.93
gym==0.23.1
